In [168]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
import torch
from tqdm import tqdm

In [205]:
df=pd.read_csv("Churn_Modelling.csv")

In [206]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [207]:
df_1=df[df["Exited"]==1]
df_2=df[df["Exited"]==0]
df_2=df_2.iloc[:2050,:]

In [208]:
df=pd.concat([df_1,df_2],axis=0)

In [143]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2599,2600,15704844,Hsiung,550,Spain,Male,62,7,80927.56,1,0,1,64490.67,0
2601,2602,15616700,Leach,622,Spain,Female,41,9,0.00,2,1,1,155786.39,0
2602,2603,15683521,Godfrey,594,Germany,Male,28,0,142574.71,2,1,0,129084.82,0
2603,2604,15583049,Wallace,643,Germany,Female,34,7,160426.07,1,0,1,188533.11,0
2604,2605,15643752,Wei,540,France,Male,25,5,116160.23,1,1,0,13411.67,0

In [209]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [210]:
df=df.reset_index(drop=True)

In [211]:
label_encoder=LabelEncoder()
df["Gender"]=label_encoder.fit_transform(df["Gender"])

In [212]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,502,France,0,42,8,159660.80,3,1,0,113931.57,1
2,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
3,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
4,653,Germany,1,58,1,132602.88,1,1,0,5097.67,1
...,...,...,...,...,...,...,...,...,...,...,...
4082,550,Spain,1,62,7,80927.56,1,0,1,64490.67,0
4083,622,Spain,0,41,9,0.00,2,1,1,155786.39,0
4084,594,Germany,1,28,0,142574.71,2,1,0,129084.82,0
4085,643,Germany,0,34,7,160426.07,1,0,1,188533.11,0
4086,540,France,1,25,5,116160.23,1,1,0,13411.67,0

In [213]:
from sklearn.preprocessing import OneHotEncoder

In [214]:
ohe=OneHotEncoder(sparse_output=False)

In [215]:
ohencoded=ohe.fit_transform(df[["Geography"]])

In [216]:
ohe.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [217]:
ohencoded.shape

(4087, 3)

In [218]:
new_df=pd.DataFrame(ohencoded,columns=ohe.get_feature_names_out())

In [219]:
new_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  1.0                0.0              0.0
2                  0.0                0.0              1.0
3                  0.0                1.0              0.0
4                  0.0                1.0              0.0
...                ...                ...              ...
4082               0.0                0.0              1.0
4083               0.0                0.0              1.0
4084               0.0                1.0              0.0
4085               0.0                1.0              0.0
4086               1.0                0.0              0.0

[4087 rows x 3 columns]

In [220]:
concat_df=pd.concat([df,new_df],axis=1)

In [221]:
concat_df=concat_df.drop(["Geography"],axis=1)

In [223]:
with open("one_hot_encoder.pkl","wb") as f:
    pickle.dump(ohe,f)
with open("label_encoder.pkl","wb") as f:
    pickle.dump(label_encoder,f)

In [224]:
X=concat_df.drop(["Exited"],axis=1)
Y=concat_df["Exited"]
SS=StandardScaler()
X=SS.fit_transform(X)
X=torch.Tensor(X)
Y=torch.Tensor(Y)
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [225]:
with open("Standard_Scalar.pkl","wb") as f:
    pickle.dump(SS,f)

In [226]:
from torch.utils.data import DataLoader,TensorDataset
training_data=TensorDataset(X_train,Y_train)
testing_data=TensorDataset(X_test,Y_test)
training_dataloader=DataLoader(training_data,batch_size=8,shuffle=True)
testing_dataloader=DataLoader(testing_data,batch_size=8)

In [227]:
next(iter(training_dataloader))

[tensor([[ 0.6538, -1.0037,  1.0388, -1.0414, -1.3498, -0.7615, -1.5429,  1.0787,
           0.7500,  1.1018, -0.6718, -0.5579],
         [-0.1285,  0.9963, -0.1018,  1.3700,  1.1676, -0.7615,  0.6481,  1.0787,
           0.4249, -0.9076,  1.4885, -0.5579],
         [-2.0690, -1.0037,  0.3735,  1.7145,  0.6926, -0.7615,  0.6481,  1.0787,
           0.4758, -0.9076, -0.6718,  1.7926],
         [ 0.7350,  0.9963, -0.6722,  1.0255, -1.3498,  0.7276,  0.6481,  1.0787,
           0.5659,  1.1018, -0.6718, -0.5579],
         [ 0.1255,  0.9963,  1.7042, -1.0414,  0.3561, -0.7615,  0.6481, -0.9270,
          -1.6129, -0.9076,  1.4885, -0.5579],
         [-0.8498,  0.9963, -0.4820, -1.3859,  0.9688, -0.7615,  0.6481, -0.9270,
          -0.3695,  1.1018, -0.6718, -0.5579],
         [-0.2911, -1.0037,  0.1833, -0.0079, -1.3498, -0.7615,  0.6481,  1.0787,
          -0.9262,  1.1018, -0.6718, -0.5579],
         [-0.7482, -1.0037, -0.0068, -0.3524,  0.4873, -0.7615, -1.5429, -0.9270,
           1.5666,  1.1018, -0.6718, -0.5579]]),
 tensor([1., 1., 1., 0., 1., 0., 0., 1.])]

In [271]:
from torch import nn
from torch.utils.tensorboard import SummaryWriter
class Model(nn.Module):
    def __init__(self):
        super().__init__()
        self.Layers=nn.Sequential(
            nn.Linear(in_features=12,out_features=128),
            nn.ReLU(),
            nn.Linear(in_features=128,out_features=64),
            nn.ReLU(),
            nn.Linear(in_features=64,out_features=32),
            nn.ReLU(),
            nn.Linear(in_features=32,out_features=1),
            nn.ReLU()
        )
    def forward(self,x):
        return self.Layers(x)

In [272]:
torch.manual_seed(42)
model=Model()

In [273]:
loss_fn=nn.BCEWithLogitsLoss()
optimizer=torch.optim.SGD(params=model.parameters(),lr=0.01)

In [274]:
from torchmetrics import Accuracy
torchmetrics_accuracy=Accuracy(task="binary")

In [275]:
overall_training_acc=[]
overall_training_loss=[]
overall_testing_acc=[]
overall_testing_loss=[]

In [276]:
epochs=50
for epoch in tqdm(range(epochs)):
    model.train()
    training_acc_per_epoch=[]
    training_loss_per_epoch=[]
    testing_acc_per_epoch=[]
    testing_loss_per_epoch=[]
    for X,Y in training_dataloader:
        logits=model(X)
        loss=loss_fn(logits.squeeze(),Y)
        prediction=torch.round(torch.sigmoid(logits))
        accuracy=torchmetrics_accuracy(prediction.squeeze(),Y)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        training_acc_per_epoch.append(accuracy)
        training_loss_per_epoch.append(loss.item())
    model.eval()
    with torch.inference_mode():
        for X,Y in testing_dataloader:
            logits=model(X)
            loss=loss_fn(logits.squeeze(),Y)
            prediction=torch.round(torch.sigmoid(logits))
            accuracy=torchmetrics_accuracy(prediction.squeeze(),Y)
            testing_acc_per_epoch.append(accuracy)
            testing_loss_per_epoch.append(loss.item())
    training_accuracy=sum(training_acc_per_epoch)/len(training_acc_per_epoch)
    training_loss=sum(training_loss_per_epoch)/len(training_loss_per_epoch)
    testing_accuracy=sum(testing_acc_per_epoch)/len(testing_acc_per_epoch)
    testing_loss=sum(testing_loss_per_epoch)/len(testing_loss_per_epoch)
    print(f"Training_Accuracy:{training_accuracy}|Training_loss:{training_loss}|Testing_loss:{testing_loss}|Testing_accuracy:{testing_accuracy}")

  2%|▏         | 1/50 [00:00<00:37,  1.31it/s]

Training_Accuracy:0.5112469792366028|Training_loss:0.6893770627695657|Testing_loss:0.6873189749069584|Testing_accuracy:0.49878641963005066

  4%|▍         | 2/50 [00:01<00:37,  1.30it/s]

Training_Accuracy:0.5504890084266663|Training_loss:0.6801666403166531|Testing_loss:0.6758848920609187|Testing_accuracy:0.5497573018074036

  6%|▌         | 3/50 [00:02<00:36,  1.30it/s]

Training_Accuracy:0.5976161360740662|Training_loss:0.665228973245271|Testing_loss:0.6589484984434925|Testing_accuracy:0.6080096960067749

  8%|▊         | 4/50 [00:03<00:35,  1.29it/s]

Training_Accuracy:0.651100218296051|Training_loss:0.6469309445844011|Testing_loss:0.642894113526761|Testing_accuracy:0.6541262269020081

 10%|█         | 5/50 [00:03<00:34,  1.30it/s]

Training_Accuracy:0.6886919140815735|Training_loss:0.6326987064263639|Testing_loss:0.6356327716007973|Testing_accuracy:0.6565533876419067

 12%|█▏        | 6/50 [00:04<00:33,  1.29it/s]

Training_Accuracy:0.7062958478927612|Training_loss:0.6221869697926389|Testing_loss:0.6281423479029276|Testing_accuracy:0.6650485396385193

 14%|█▍        | 7/50 [00:05<00:33,  1.30it/s]

Training_Accuracy:0.7172371745109558|Training_loss:0.6143433281874016|Testing_loss:0.6193635608386068|Testing_accuracy:0.6905339956283569

 16%|█▌        | 8/50 [00:06<00:32,  1.30it/s]

Training_Accuracy:0.7306846380233765|Training_loss:0.6061674633352564|Testing_loss:0.6190548440785084|Testing_accuracy:0.6759708523750305

 18%|█▊        | 9/50 [00:06<00:31,  1.29it/s]

Training_Accuracy:0.7342298030853271|Training_loss:0.599615039845842|Testing_loss:0.606285724825072|Testing_accuracy:0.696601927280426

 20%|██        | 10/50 [00:07<00:30,  1.31it/s]

Training_Accuracy:0.742420494556427|Training_loss:0.5935328229715305|Testing_loss:0.6006627811968905|Testing_accuracy:0.7014563083648682

 22%|██▏       | 11/50 [00:08<00:29,  1.31it/s]

Training_Accuracy:0.746760368347168|Training_loss:0.5862015555715211|Testing_loss:0.59490355646726|Testing_accuracy:0.7184466123580933

 24%|██▍       | 12/50 [00:09<00:28,  1.31it/s]

Training_Accuracy:0.7547065615653992|Training_loss:0.5807119120449775|Testing_loss:0.5916194585920538|Testing_accuracy:0.7160193920135498

 26%|██▌       | 13/50 [00:09<00:28,  1.31it/s]

Training_Accuracy:0.7603911757469177|Training_loss:0.575427632241494|Testing_loss:0.5926374512390026|Testing_accuracy:0.7111650705337524

 28%|██▊       | 14/50 [00:10<00:27,  1.30it/s]

Training_Accuracy:0.7602077722549438|Training_loss:0.5710087739896658|Testing_loss:0.5856578677024656|Testing_accuracy:0.7245145440101624

 30%|███       | 15/50 [00:11<00:27,  1.29it/s]

Training_Accuracy:0.7702322602272034|Training_loss:0.5668437083440772|Testing_loss:0.5797292225569197|Testing_accuracy:0.7305825352668762

 32%|███▏      | 16/50 [00:12<00:26,  1.30it/s]

Training_Accuracy:0.7693153619766235|Training_loss:0.5634542883244004|Testing_loss:0.5840035329744654|Testing_accuracy:0.7135922312736511

 34%|███▍      | 17/50 [00:13<00:25,  1.29it/s]

Training_Accuracy:0.7739608287811279|Training_loss:0.5617070995945219|Testing_loss:0.5734507369184957|Testing_accuracy:0.737864077091217

 36%|███▌      | 18/50 [00:13<00:24,  1.30it/s]

Training_Accuracy:0.7770170569419861|Training_loss:0.5579232887563029|Testing_loss:0.5765300861840109|Testing_accuracy:0.7293689250946045

 38%|███▊      | 19/50 [00:14<00:23,  1.31it/s]

Training_Accuracy:0.7751833200454712|Training_loss:0.5566801275046939|Testing_loss:0.568985600494644|Testing_accuracy:0.7402912378311157

 40%|████      | 20/50 [00:15<00:23,  1.30it/s]

Training_Accuracy:0.7800121903419495|Training_loss:0.5550339553496074|Testing_loss:0.5684990341802245|Testing_accuracy:0.7354369163513184

 42%|████▏     | 21/50 [00:16<00:22,  1.31it/s]

Training_Accuracy:0.7816014289855957|Training_loss:0.5541094620973965|Testing_loss:0.5651839881846048|Testing_accuracy:0.7451456189155579

 44%|████▍     | 22/50 [00:16<00:21,  1.31it/s]

Training_Accuracy:0.7854523062705994|Training_loss:0.5511365567122228|Testing_loss:0.5759109293372886|Testing_accuracy:0.7245145440101624

 46%|████▌     | 23/50 [00:17<00:20,  1.31it/s]

Training_Accuracy:0.787713885307312|Training_loss:0.5501888900776656|Testing_loss:0.5708878103969166|Testing_accuracy:0.7342233061790466

 48%|████▊     | 24/50 [00:18<00:19,  1.31it/s]

Training_Accuracy:0.7875916957855225|Training_loss:0.5480321606024553|Testing_loss:0.563212460105859|Testing_accuracy:0.7427184581756592

 50%|█████     | 25/50 [00:19<00:19,  1.31it/s]

Training_Accuracy:0.7854523062705994|Training_loss:0.5476331116954971|Testing_loss:0.5633300813367066|Testing_accuracy:0.75

 52%|█████▏    | 26/50 [00:19<00:18,  1.30it/s]

Training_Accuracy:0.7863081097602844|Training_loss:0.5467888822182466|Testing_loss:0.5637780508948761|Testing_accuracy:0.7439320683479309

 54%|█████▍    | 27/50 [00:20<00:17,  1.30it/s]

Training_Accuracy:0.7915036678314209|Training_loss:0.5438708449124124|Testing_loss:0.5805636948173486|Testing_accuracy:0.7281553149223328

 56%|█████▌    | 28/50 [00:21<00:16,  1.30it/s]

Training_Accuracy:0.7906479239463806|Training_loss:0.5436461607226533|Testing_loss:0.5667442356787838|Testing_accuracy:0.7415048480033875

 58%|█████▊    | 29/50 [00:22<00:15,  1.32it/s]

Training_Accuracy:0.7898532748222351|Training_loss:0.5418928419683848|Testing_loss:0.5706829900301776|Testing_accuracy:0.7451456189155579

 60%|██████    | 30/50 [00:23<00:15,  1.31it/s]

Training_Accuracy:0.7927873134613037|Training_loss:0.5412442151156498|Testing_loss:0.5711941688674168|Testing_accuracy:0.7415048480033875

 62%|██████▏   | 31/50 [00:23<00:14,  1.31it/s]

Training_Accuracy:0.7926039099693298|Training_loss:0.5407612766059512|Testing_loss:0.5839811018080387|Testing_accuracy:0.7342233061790466

 64%|██████▍   | 32/50 [00:24<00:13,  1.32it/s]

Training_Accuracy:0.7893643379211426|Training_loss:0.5393019073749813|Testing_loss:0.5806755270194082|Testing_accuracy:0.7330096960067749

 66%|██████▌   | 33/50 [00:25<00:12,  1.32it/s]

Training_Accuracy:0.7913813591003418|Training_loss:0.5382257563706424|Testing_loss:0.5640963943837916|Testing_accuracy:0.7451456189155579

 68%|██████▊   | 34/50 [00:26<00:12,  1.30it/s]

Training_Accuracy:0.7944376468658447|Training_loss:0.5353889811447022|Testing_loss:0.5768546440358301|Testing_accuracy:0.7536407709121704

 70%|███████   | 35/50 [00:26<00:11,  1.31it/s]

Training_Accuracy:0.7984107136726379|Training_loss:0.5353602544748404|Testing_loss:0.5690440405341028|Testing_accuracy:0.7548543810844421

 72%|███████▏  | 36/50 [00:27<00:10,  1.31it/s]

Training_Accuracy:0.7984107136726379|Training_loss:0.5349216475754903|Testing_loss:0.5748175695104506|Testing_accuracy:0.7463592290878296

 74%|███████▍  | 37/50 [00:28<00:09,  1.31it/s]

Training_Accuracy:0.7979828715324402|Training_loss:0.532703287298347|Testing_loss:0.590341748253813|Testing_accuracy:0.7415048480033875

 76%|███████▌  | 38/50 [00:29<00:09,  1.31it/s]

Training_Accuracy:0.7963325381278992|Training_loss:0.5322373084960765|Testing_loss:0.5753129675839711|Testing_accuracy:0.7524271607398987

 78%|███████▊  | 39/50 [00:29<00:08,  1.28it/s]

Training_Accuracy:0.7993276119232178|Training_loss:0.5318388543968388|Testing_loss:0.5737609785158657|Testing_accuracy:0.7524271607398987

 80%|████████  | 40/50 [00:30<00:07,  1.29it/s]

Training_Accuracy:0.7981051206588745|Training_loss:0.5296105492887404|Testing_loss:0.5613862033029204|Testing_accuracy:0.7645630836486816

 82%|████████▏ | 41/50 [00:31<00:06,  1.30it/s]

Training_Accuracy:0.8022004961967468|Training_loss:0.5284834356755382|Testing_loss:0.5835135729567519|Testing_accuracy:0.7366504669189453

 84%|████████▍ | 42/50 [00:32<00:06,  1.28it/s]

Training_Accuracy:0.79889976978302|Training_loss:0.5268776838674522|Testing_loss:0.5808919364387549|Testing_accuracy:0.7536407709121704

 86%|████████▌ | 43/50 [00:33<00:05,  1.29it/s]

Training_Accuracy:0.8063569664955139|Training_loss:0.5249997264817174|Testing_loss:0.5660733311500364|Testing_accuracy:0.762135922908783

 88%|████████▊ | 44/50 [00:33<00:04,  1.29it/s]

Training_Accuracy:0.8003667593002319|Training_loss:0.5256529982340656|Testing_loss:0.5708491948333759|Testing_accuracy:0.7512136101722717

 90%|█████████ | 45/50 [00:34<00:03,  1.29it/s]

Training_Accuracy:0.8064792156219482|Training_loss:0.5244685299967787|Testing_loss:0.5886723108372642|Testing_accuracy:0.7354369163513184

 92%|█████████▏| 46/50 [00:35<00:03,  1.29it/s]

Training_Accuracy:0.8046454787254333|Training_loss:0.52382371080971|Testing_loss:0.5686401000011314|Testing_accuracy:0.762135922908783

 94%|█████████▍| 47/50 [00:36<00:02,  1.30it/s]

Training_Accuracy:0.807762861251831|Training_loss:0.5217279447902968|Testing_loss:0.5866647539208236|Testing_accuracy:0.7463592290878296

 96%|█████████▌| 48/50 [00:36<00:01,  1.29it/s]

Training_Accuracy:0.805623471736908|Training_loss:0.5204056275867308|Testing_loss:0.5771637475027621|Testing_accuracy:0.7609223127365112

 98%|█████████▊| 49/50 [00:37<00:00,  1.30it/s]

Training_Accuracy:0.8053178191184998|Training_loss:0.518211179556357|Testing_loss:0.5914817559487612|Testing_accuracy:0.7439320683479309

100%|██████████| 50/50 [00:38<00:00,  1.30it/s]

Training_Accuracy:0.8066014647483826|Training_loss:0.516837948691874|Testing_loss:0.5647759943911173|Testing_accuracy:0.7633495330810547

In [277]:
torch.save(model.state_dict(),"Model_state.pth")

In [360]:
df["Exited"].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64